.modal-open,
.modal-open body {
	overflow: hidden;
}
.modal-perspective,
.modal-perspective body  {
	perspective: 600px;
	height: 100%;
}
.modal-overlay-open {
	visibility: visible;
	opacity: 1;
}

.modal-overlay {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	transition-delay: 0s;
}
.modal-overlay-default {
	transition-timing-function: linear;
	transition-property: opacity;
	opacity: 0;
}
.modal-modal-wrapper {
	bottom: 0;
	left: 0;
	outline: 0 none;
	overflow-x: auto;
	overflow-y: scroll;
	position: fixed;
	right: 0;
	top: 0;
	text-align: center;
}
.modal-modal-container {
	margin: 0 auto;
	position: relative;
}
.modal-modal img {
	max-width: 100%;
	height: auto;
}

.modal-overlay-letmein {
	transition-property: all;
	transition-timing-function: ease;
	visibility: hidden;
}
.modal-overlay-open.modal-overlay-letmein {
	transform: rotateX(-2deg);
	transform-origin: 50% 0;
	transform-style: preserve-3d;
	visibility: visible;
	opacity: 1;
}

.modal-overlay-slidetogether {
	transform: translateY(-100%);
	transition-property: transform ease-in-out;
}

.modal-overlay-open.modal-overlay-slidetogether {
	transform: translateY(0);
	transition-property: transform ease-in-out;
}

.modal-overlay-corner {
	transform: translateY(150px) translateX(150px);
	transition-property: opacity, transform, visibility;
}
.modal-overlay-open.modal-overlay-corner {
	transform: translateY(0);
	transition-property: opacity, transform;
}

.modal-overlay-scale {
	transform: scale(0.9);
	transition-property: transform;
}
.modal-overlay-open.modal-overlay-scale {
	transform: scale(1);
	transition-property: transform;
}

.modal-overlay-door {
	visibility: hidden;
	width: 0;
	left: 50%;
	transform: translateX(-50%);
	transition-property: width ease-in-out;
}
.modal-overlay-open.modal-overlay-door {
	visibility: visible;
	width: 100%;
	transition-property: width ease-in-out;
}

.modal-container-push {
	overflow-x: hidden;
	transition-property: transform;
}
.modal-container-open.modal-container-push {
	transform: translateX(100%);
}
.modal-overlay-push {
	backface-visibility: hidden;
	transform: translateX(-100%);
	transition-property: transform ease-in-out;
}
.modal-overlay-open.modal-overlay-push {
	transform: translateX(0);
	transition-property: transform ease-in-out;
}

.modal-open-contentscale body {
	background-color: #DDD;
}
.modal-container-contentscale {
	transition: transform 0.5s;
	overflow: hidden;
	height: 100%;
}
.modal-container-open.modal-container-contentscale {
	transform: scale(0.8);
}
.modal-overlay-contentscale {
	transform: translateY(100%);
	transition-property: transform ease-in-out;
}
.modal-overlay-open.modal-overlay-contentscale {
	transform: translateY(0);
	transition-property: transform ease-in-out;
}

.modal-container-open.modal-container-makeway {
	height: 100%;
	overflow: hidden;
}
.modal-overlay-open.modal-overlay-makeway {
	transition-property: all;
}
.modal-overlay-open.modal-overlay-makeway,
.modal-container-open.modal-container-makeway {
	transform-style: preserve-3d;
	transform-origin: 0 50%;
	animation: rotateRightSideFirst 0.5s forwards ease-in;
}
@keyframes rotateRightSideFirst {
	50% {
		transform: translateZ(-50px) rotateY(5deg);
		animation-timing-function: ease-out;
	}
	100% {
		transform: translateZ(-200px);
	}
}

.modal-overlay-open.modal-overlay-slip {
	transition-property: all;
}
.modal-overlay-open.modal-overlay-slip,
.modal-container-open.modal-container-slip {
	transform-style: preserve-3d;
	transform-origin: 50% 100%;
	animation: OpenTop 0.5s forwards ease-in-out;
}
@keyframes OpenTop {
	50% {
		transform: rotateX(10deg);
		animation-timing-function: ease-out;
	}
}

.modal-modal-fadein {
	transform: scale(0.7);
	transition-property: all;
	opacity: 0;
	visibility: hidden;
}
.modal-modal-open .modal-modal-fadein {
	transform: scale(1);
	opacity: 1;
	visibility: visible;
}

.modal-modal-container-slide > div,
.modal-modal-container-slidetogether > div {
	opacity: 0;
	float: left;
}
.modal-modal-open > .modal-modal-container-slide > div,
.modal-modal-open > .modal-modal-container-slidetogether > div {
	opacity: 1;
}

.modal-modal-slide-top {
	transform: translateY(-300%);
}
.modal-modal-open .modal-modal-slide-top {
	transform: translateY(0);
}

.modal-modal-slide-left {
	transform: translateX(-300%);
}
.modal-modal-open .modal-modal-slide-left {
	transform: translateX(0);
}

.modal-modal-slide-right {
	transform: translateX(300%);
}
.modal-modal-open .modal-modal-slide-right {
	transform: translateX(0);
}

.modal-modal-slide-bottom {
	transform: translateY(300%);
}
.modal-modal-open .modal-modal-slide-bottom {
	transform: translateY(0);
}

.modal-modal-newspaper {
	transform: scale(0) rotate(720deg);
	opacity: 0;
	transition-property: all;
	position: absolute;
}
.modal-overlay-newspaper {
	transition-property: all;
}
.modal-modal-open .modal-modal-newspaper {
	transform: scale(1) rotate(0deg);
	opacity: 1;
}

.modal-modal-container-fall {
	perspective: 1300px;
}
.modal-modal-fall {
	transform-style: preserve-3d;
	transform: translateZ(600px) rotateX(20deg);
	opacity: 0;
}
.modal-modal-open .modal-modal-fall {
	transition-timing-function: ease-in;
	transition-property: all;
	transform: translateZ(0) rotateX(0deg);
	opacity: 1;
}

.modal-modal-container-sidefall {
	perspective: 1300px;
}
.modal-modal-wrapper-sidefall {
	overflow-x: hidden;
}
.modal-modal-sidefall {
	transform-style: preserve-3d;
	transform: translate(30%) translateZ(600px) rotate(10deg);
	opacity: 0;
}
.modal-modal-open .modal-modal-sidefall {
	transition-timing-function: ease-in;
	transition-property: all;
	transform: translate(0) translateZ(0) rotate(0deg);
	opacity: 1;
}

.modal-open-blur .modal-container-blur {
	filter: blur(3px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}

@-moz-document url-prefix() {
	.modal-open-blur .modal-container-blur {
		filter: url(blur.svg#blur);
	}
}
.modal-modal-blur {
	transform: translateY(-5%);
	opacity: 0;
	position: absolute;
}
.modal-overlay-blur,
.modal-modal-container-blur {
	transition-property: all;
}
.modal-modal-open .modal-modal-blur {
	transform: translateY(0);
	opacity: 1;
}

.modal-modal-container-flip {
	perspective: 1300px;
}

.modal-modal-flip-horizontal {
	position: absolute;
	transform-style: preserve-3d;
	transform: rotateY(-70deg);
	transition-property: all;
	opacity: 0;
}
.modal-modal-open .modal-modal-flip-horizontal {
	transform: rotateY(0deg);
	opacity: 1;
}

.modal-modal-flip-vertical {
	position: absolute;
	transform-style: preserve-3d;
	transform: rotateX(-70deg);
	transition-property: all;
	opacity: 0;
}
.modal-modal-open .modal-modal-flip-vertical {
	transform: rotateX(0deg);
	opacity: 1;
}

.modal-modal-container-sign {
	perspective: 1300px;
}
.modal-modal-sign {
	transform-style: preserve-3d;
	transform: rotateX(-60deg);
	transform-origin: 50% 0;
	opacity: 0;
	transition-property: all;
}
.modal-modal-open .modal-modal-sign {
	transform: rotateX(0deg);
	opacity: 1;
}

.modal-modal-superscaled {
	transform: scale(2);
	opacity: 0;
	transition-property: all;
	position: absolute;
}
.modal-modal-open .modal-modal-superscaled {
	transform: scale(1);
	opacity: 1;
}

.modal-modal-container-slit {
	perspective: 1300px;
}
.modal-modal-slit {
	transform-style: preserve-3d;
	transform: translateZ(-3000px) rotateY(90deg);
	opacity: 0;
}
.modal-modal-open .modal-modal-slit {
	animation: slit .7s forwards ease-out;
}
@keyframes slit {
	50% {
		transform: translateZ(-250px) rotateY(89deg);
		opacity: 1;
		animation-timing-function: ease-out;
	}
	100% {
		transform: translateZ(0) rotateY(0deg);
		opacity: 1;
	}
}

.modal-modal-container-rotate {
	perspective: 1300px;
}

.modal-modal-rotate-bottom {
	transform-style: preserve-3d;
	transform: translateY(100%) rotateX(90deg);
	transform-origin: 0 100%;
	opacity: 0;
	transition-timing-function: ease-out;
	transition-property: all;
	position: absolute;
}
.modal-modal-open .modal-modal-rotate-bottom {
	transform: translateY(0) rotateX(0deg);
	opacity: 1;
}

.modal-modal-rotate-left {
	transform-style: preserve-3d;
	transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	transform-origin: 0 100%;
	opacity: 0;
	transition-property: all;
	position: absolute;
}
.modal-modal-open .modal-modal-rotate-left {
	transform: translateZ(0) translateX(0) rotateY(0deg);
	opacity: 1;
}

.modal-modal-container-letmein {
	transition-property: transform;
	transform: rotateX(-2deg);
	transform-origin: 50% 0;
	transform-style: preserve-3d;
	opacity: 1;
}
.modal-modal-letmein {
	opacity: 0;
	transform: translateY(300%);
	float: left;
}
.modal-modal-open .modal-modal-letmein {
	transform: translateY(0);
	opacity: 1;
	transition-property: all;
}

.modal-modal-makeway {
	transform: translateX(200%);
	opacity: 0;
	float: left;
}
.modal-modal-open .modal-modal-makeway {
	transform: translateX(0);
	opacity: 1;
}
.modal-modal-wrapper-makeway {
	overflow: hidden;
}

.modal-modal-slip {
	transform: translateY(-350%);
}
.modal-modal-open .modal-modal-slip {
	transform: translateY(0);
	transition-property: all;
}

.modal-modal-corner {
	opacity: 0;
	transform: translateY(150px) translateX(150px);
	transition-property: opacity, transform, visibility;
}
.modal-modal-open .modal-modal-corner {
	transform: translateY(0);
	opacity: 1;
	transition-property: opacity, transform;
}

.modal-modal-slidetogether {
	transform: translateY(-600%);
}
.modal-modal-open .modal-modal-slidetogether {
	transform: translateY(0);
}

.modal-modal-scale {
	transform: scale(0.9);
	transition: transform;
	opacity: 0;
}
.modal-modal-open .modal-modal-scale {
	transform: scale(1);
	transition: transform;
	opacity: 1;
}

.modal-modal-door {
	visibility: hidden;
	opacity: 0;
}
.modal-modal-open .modal-modal-door {
	opacity: 1;
	visibility: visible;
}

.modal-modal-push {
	transform: translateX(-300%);
}
.modal-modal-open .modal-modal-push {
	transform: translateX(0);
}

.modal-modal-contentscale {
	transform: translateY(600%);
	transition-property: transform ease-in-out;
	position: absolute;
}
.modal-modal-open .modal-modal-contentscale {
	transform: translateY(0);
}