* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 0;
}
*:before {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:after {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
::-moz-focus-inner {
  border: 0;
  outline: none;
}
body {
  background: #272930;
  color: #828793;
  padding: 45px;
  font-size: 14px;
  line-height: 22px;
  font-family: 'Roboto', Arial;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #da5247;
  text-decoration: none;
}
a:focus,
a:active {
  outline: 0;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #31343b;
}
p {
  margin: 0 0 15px;
}
strong {
  color: #31343b;
}
span.success {
  color: #4abb5a;
}
span.error {
  color: #df5452;
}
span.info {
  color: #60a2fb;
}
.button,
button {
  background: #da5247;
  background: -moz-linear-gradient(-45deg,#da5247 0%,#a73a4f 100%);
  background: -webkit-gradient(linear,left top,right bottom,color-stop(0%,#da5247),color-stop(100%,#a73a4f));
  background: -webkit-linear-gradient(-45deg,#da5247 0%,#a73a4f 100%);
  background: -o-linear-gradient(-45deg,#da5247 0%,#a73a4f 100%);
  background: -ms-linear-gradient(-45deg,#da5247 0%,#a73a4f 100%);
  background: linear-gradient(135deg,#da5247 0%,#a73a4f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@start',endColorstr='@stop',GradientType=1);
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  padding: 8px 17px;
  border: 0;
  margin: 0 15px 0 0;
  display: inline-block;
  cursor: pointer;
  color: #fff;
}
.button.light,
button.light {
  background: #f5f6f9;
  color: #828793;
}
.button.light:hover,
button.light:hover {
  color: #828793;
}
.button svg,
button svg {
  display: block;
  fill: #fff;
  width: 20px;
  height: 20px;
}
.button.facebook,
button.facebook {
  background: #4a6fc0;
  margin: 5px 0 10px 0;
}
.button.github,
button.github {
  background: #000;
  margin: 5px 0 10px 0;
}
.button.none,
button.none {
  background: none;
  margin: 5px 0 10px 0;
  color: #828793;
}
.button.none:hover,
button.none:hover {
  color: #828793;
}
.button.full,
button.full {
  padding: 8px 0;
  width: 100%;
  text-align: center;
}
.button:hover,
button:hover {
  color: #fff;
}
.button.svg,
button.svg {
  position: relative;
}
.button.svg svg,
button.svg svg {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 16px;
  top: 10px;
}
.message {
  width: 100%;
  padding: 12px 16px;
  color: #fff;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.message.success {
  background: #4abb5a;
}
.message.error {
  background: #df5452;
}
.message.info {
  background: #60a2fb;
}
.clear {
  clear: both;
}
#user {
  line-height: 32px;
  width: 100%;
  position: relative;
  padding: 12px 20px;
  background: #272930;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.1) inset;
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.1) inset;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1) inset;
}
#user img {
  float: left;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  margin: 0 13px 0 0;
}
#user span {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 6px 0;
  display: block;
  float: right;
  background: #2f323a;
  color: #828793;
  text-align: center;
  line-height: 20px;
  font-size: 11px;
  z-index: 1;
}
#user svg {
  width: 16px;
  height: 16px;
  fill: #828793;
  display: block;
}
#user .down {
  display: block;
  float: right;
  margin: 8px 0 8px 8px;
  cursor: pointer;
}
#user .text {
  float: left;
  font-size: 13px;
}
#user ul {
  display: none;
  padding-top: 13px;
}
#user ul li {
  margin-top: 2px;
}
#user ul li a {
  position: relative;
  display: block;
  background: #2f323a;
  line-height: 32px;
  padding: 0 14px 0 45px;
  color: #d8d8da;
  font-size: 12px;
}
#user ul li a svg {
  width: 14px;
  height: 14px;
  margin: -7px 0 0 0;
  left: 14px;
  top: 50%;
  fill: #d8d8da;
  display: block;
  position: absolute;
}
#control {
  float: right;
  line-height: 36px;
  margin-bottom: 10px;
}
#control ul {
  padding: 0 35px 0 0;
  overflow: hidden;
}
#control ul li {
  float: left;
  margin-left: 25px;
  position: relative;
}
#control ul li a {
  display: block;
  padding: 0 0 0 24px;
  color: #828793;
}
#control ul li svg {
  width: 16px;
  height: 16px;
  fill: #828793;
  top: 10px;
  position: absolute;
  display: block;
  left: 0;
}
#wrap {
  max-width: 1410px;
  margin: 0 auto;
}
#page {
  background: #f5f6f9;
  position: relative;
  min-height: 550px;
  -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
}
#main {
  margin-left: 230px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#main.small {
  margin-left: 90px;
}
#head {
  height: 80px;
  width: 100%;
  background: #fff;
  position: relative;
  padding: 0 35px;
  border-bottom: 1px solid #c7cace;
}
#head h1 {
  margin: 19px 0;
  line-height: 40px;
  font-family: 'Roboto', Arial;
  font-size: 15px;
  color: #828793;
  font-weight: 400;
  float: left;
  border: 1px solid #d9dee2;
  border-radius: 20px;
  padding: 0 25px;
}
#head #search {
  float: right;
  margin: 22px 0;
  position: relative;
}
#head #search svg {
  width: 16px;
  height: 16px;
  fill: #d8d8da;
  display: block;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 12px;
}
#head #search input {
  padding-left: 36px;
  border-radius: 18px;
}
#head nav {
  float: left;
  padding: 22px 15px;
}
#head nav svg {
  width: 20px;
  height: 20px;
  fill: #d8d8da;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: block;
}
#head nav ul {
  overflow: hidden;
}
#head nav ul li {
  float: left;
  margin-right: 10px;
}
#head nav ul li a {
  display: block;
  height: 36px;
  padding: 8px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#head nav ul li a:hover {
  background: #da5247;
  background: -moz-linear-gradient(-45deg,#da5247 0%,#a73a4f 100%);
  background: -webkit-gradient(linear,left top,right bottom,color-stop(0%,#da5247),color-stop(100%,#a73a4f));
  background: -webkit-linear-gradient(-45deg,#da5247 0%,#a73a4f 100%);
  background: -o-linear-gradient(-45deg,#da5247 0%,#a73a4f 100%);
  background: -ms-linear-gradient(-45deg,#da5247 0%,#a73a4f 100%);
  background: linear-gradient(135deg,#da5247 0%,#a73a4f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@start',endColorstr='@stop',GradientType=1);
}
#head nav ul li a:hover svg {
  fill: #fff;
}
#head nav ul li.active a {
  background: #da5247;
  background: -moz-linear-gradient(-45deg,#da5247 0%,#a73a4f 100%);
  background: -webkit-gradient(linear,left top,right bottom,color-stop(0%,#da5247),color-stop(100%,#a73a4f));
  background: -webkit-linear-gradient(-45deg,#da5247 0%,#a73a4f 100%);
  background: -o-linear-gradient(-45deg,#da5247 0%,#a73a4f 100%);
  background: -ms-linear-gradient(-45deg,#da5247 0%,#a73a4f 100%);
  background: linear-gradient(135deg,#da5247 0%,#a73a4f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@start',endColorstr='@stop',GradientType=1);
}
#head nav ul li.active a svg {
  fill: #fff;
}
#head:before {
  height: 3px;
  position: absolute;
  left: 6px;
  right: 0;
  bottom: -4px;
  background: #f5f6f9;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#f5f6f9),color-stop(1,#e3e4e8));
  background: -ms-linear-gradient(bottom,#f5f6f9,#e3e4e8);
  background: -moz-linear-gradient(center bottom,#f5f6f9 0%,#e3e4e8 100%);
  background: -o-linear-gradient(#e3e4e8,#f5f6f9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e4e8', endColorstr='#f5f6f9', GradientType=0);
  content: "";
}
#content {
  padding: 35px;
}
#content nav li {
  margin-bottom: 12px;
}
#content nav li a {
  color: #828793;
}
#content nav li.active a {
  color: #31343b;
}
#content h2 {
  font-family: 'Roboto', Arial;
  font-weight: 400;
  font-size: 18px;
  color: #31343b;
  margin: 12px 0 15px 0;
}
#content .subnav {
  overflow: hidden;
}
#content .subnav .left {
  width: 10%;
  float: left;
}
@media (max-width: 1100px) {
  #content .subnav .left {
    width: 15%;
  }
}
#content .subnav .right {
  width: 90%;
  float: left;
}
@media (max-width: 1100px) {
  #content .subnav .right {
    width: 85%;
  }
}
.ui-draggable-dragging {
  background: #2f323a;
  padding: 8px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
}
#rights li {
  background: #f5f6f9;
  padding: 8px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 5px;
}
#rights > ul {
  overflow: hidden;
}
#rights > ul li {
  float: left;
  margin: 0 10px 10px 0;
  cursor: move;
}
#rights h3 {
  font-family: 'Roboto', Arial;
  font-weight: 400;
  font-size: 16px;
  color: #828793;
  margin: 5px 0 7px 0;
}
#rights .box {
  background: #fff;
  border: 1px solid #d9dee2;
  padding: 15px;
  min-height: 160px;
  width: 100%;
  margin: 0 0 20px 0;
}
#rights .box li {
  position: relative;
  width: 100%;
}
#rights .box li span {
  display: block;
  position: absolute;
  right: 15px;
  cursor: pointer;
  top: 7px;
  z-index: 1;
}
#login {
  background: #fff;
  position: absolute;
  width: 310px;
  margin: 0 0 0 -155px;
  left: 50%;
  top: 14%;
  padding: 25px;
  -webkit-box-shadow: 0 0 16px rgba(0,0,0,0.2) outset;
  -moz-box-shadow: 0 0 16px rgba(0,0,0,0.2) outset;
  box-shadow: 0 0 16px rgba(0,0,0,0.2) outset;
}
#login .logo {
  display: block;
  width: 100%;
  height: 90px;
  margin: 10px 0 15px 0;
  position: relative;
}
#login .logo svg {
  width: 82px;
  height: 82px;
  margin: -41px 0 0 -41px;
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  fill: #272930;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#login .logo svg .flame {
  fill: #da5247;
}
#login .logo svg:hover {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
#login .logo svg:hover .flame {
  -webkit-animation: flame 2s infinite;
  animation: flame 2s infinite;
}
#login button {
  padding-left: 25px;
  padding-right: 25px;
  float: right;
  margin: 0;
}
#login .switch {
  float: left;
  margin: 9px 0 0 0;
}
#login form > input {
  width: 100%;
  margin: 15px 0 0 0;
}
#login .foot {
  background: #f5f6f9;
  margin: 15px -25px -25px -25px;
  padding: 15px 25px;
  overflow: hidden;
}
#login .message {
  margin-bottom: 0;
}
#left {
  width: 230px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #2f323a;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#left.small {
  width: 90px;
}
#left.small h4 {
  display: none;
}
#left.small nav svg {
  left: 50%;
  margin: -9px 0 0 -9px;
}
#left.small nav li a {
  height: 54px;
  padding: 0;
}
#left.small nav li span {
  display: none;
}
#left.small nav li.active a {
  padding: 0;
}
#left.small nav li.active a svg {
  left: 50%;
}
#left.small #expand .left {
  display: none;
}
#left.small #expand .right {
  display: block;
}
#left.small #user {
  margin-bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 12px;
}
#left.small #user img {
  float: none;
  width: 80%;
  height: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#left.small #user span {
  width: 15px;
  height: 15px;
  margin: 0;
  display: block;
  float: none;
  position: absolute;
  top: 17%;
  right: 17%;
  background: #da5247;
  color: #fff;
  line-height: 15px;
  font-size: 9px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#left.small #user .down {
  display: none;
}
#left.small #user .text {
  display: none;
}
#left nav svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 35px;
  margin: -9px 0 0 0;
  fill: #d8d8da;
  display: block;
}
#left nav li a {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  -webkit-opacity: 0.2;
  opacity: 0.2;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
  filter: alpha(opacity=20);
  color: #d8d8da;
  display: block;
  width: 100%;
  height: 54px;
  line-height: 54px;
  position: relative;
  padding: 0 0 0 70px;
  font-size: 14px;
}
#left nav li a:hover {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
#left nav li.active a {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  border-left: 4px solid #da5247;
  padding: 0 0 0 66px;
  background: #272930;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.1) inset;
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.1) inset;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1) inset;
}
#left nav li.active a svg {
  fill: #fff;
  left: 31px;
}
#left .logo {
  display: block;
  width: 100%;
  height: 80px;
  position: relative;
}
#left .logo svg {
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  fill: #f5f6f9;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#left .logo svg .flame {
  fill: #da5247;
}
#left .logo svg:hover {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
#left .logo svg:hover .flame {
  -webkit-animation: flame 2s infinite;
  animation: flame 2s infinite;
}
#left #expand {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: block;
}
#left #expand svg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  fill: #d8d8da;
  display: block;
  cursor: pointer;
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  -webkit-opacity: 0.2;
  opacity: 0.2;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
  filter: alpha(opacity=20);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#left #expand svg:hover {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
#left #expand .left {
  display: block;
}
#left #expand .right {
  display: none;
}
#left:before {
  position: absolute;
  width: 6px;
  top: 0;
  bottom: 0;
  right: -6px;
  content: "";
  background: #c7cace;
  border-right: 1px solid #b3b6ba;
  z-index: 1;
}
#left h4 {
  font-family: 'Roboto', Arial;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: normal;
  color: #828793;
  margin: 20px 0 10px 0;
  padding: 0 35px;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  filter: alpha(opacity=30);
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(52deg);
    -moz-transform: rotate(52deg);
    -o-transform: rotate(52deg);
    -ms-transform: rotate(52deg);
    transform: rotate(52deg);
  }
  25% {
    -webkit-transform: rotate(67deg);
    -moz-transform: rotate(67deg);
    -o-transform: rotate(67deg);
    -ms-transform: rotate(67deg);
    transform: rotate(67deg);
  }
  50% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  75% {
    -webkit-transform: rotate(67deg);
    -moz-transform: rotate(67deg);
    -o-transform: rotate(67deg);
    -ms-transform: rotate(67deg);
    transform: rotate(67deg);
  }
  100% {
    -webkit-transform: rotate(52deg);
    -moz-transform: rotate(52deg);
    -o-transform: rotate(52deg);
    -ms-transform: rotate(52deg);
    transform: rotate(52deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(52deg);
    -moz-transform: rotate(52deg);
    -o-transform: rotate(52deg);
    -ms-transform: rotate(52deg);
    transform: rotate(52deg);
  }
  25% {
    -webkit-transform: rotate(67deg);
    -moz-transform: rotate(67deg);
    -o-transform: rotate(67deg);
    -ms-transform: rotate(67deg);
    transform: rotate(67deg);
  }
  50% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  75% {
    -webkit-transform: rotate(67deg);
    -moz-transform: rotate(67deg);
    -o-transform: rotate(67deg);
    -ms-transform: rotate(67deg);
    transform: rotate(67deg);
  }
  100% {
    -webkit-transform: rotate(52deg);
    -moz-transform: rotate(52deg);
    -o-transform: rotate(52deg);
    -ms-transform: rotate(52deg);
    transform: rotate(52deg);
  }
}
@-webkit-keyframes flame {
  0% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
  }
  10% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
  }
  14% {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
  }
  15% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
  }
  79% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
  }
  80% {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
  }
  82% {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
  }
  83% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
  }
  100% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
  }
}
@keyframes flame {
  0% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
  }
  10% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
  }
  14% {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
  }
  15% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
  }
  79% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
  }
  80% {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
  }
  82% {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
  }
  83% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
  }
  100% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
  }
}
input {
  height: 36px;
  line-height: 20px;
  padding: 8px 15px;
  border: 1px solid #d9dee2;
  background: #fff;
  font-size: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.input {
  margin-bottom: 20px;
}
.input:before {
  display: table;
  content: " ";
}
.input:after {
  content: '';
  display: block;
  clear: both;
}
.input label {
  line-height: 36px;
  color: #31343b;
}
.input input {
  width: 100%;
}
.input ul li {
  margin: 6px 0;
}
.input .switch {
  margin-top: 9px;
}
.panel {
  width: 100%;
  background: #fff;
  border: 1px solid #d9dee2;
  margin-bottom: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.panel .top {
  line-height: 50px;
  background: #f5f6f9;
  border-bottom: 1px solid #d9dee2;
  padding: 0 0 0 25px;
  overflow: hidden;
}
.panel .top h3 {
  font-family: 'Roboto', Arial;
  font-size: 16px;
  font-weight: 400;
  color: #31343b;
  float: left;
}
.panel .top ul {
  float: right;
  overflow: hidden;
}
.panel .top ul li {
  float: left;
}
.panel .top ul li a,
.panel .top ul li button {
  padding: 15px 0 15px 15px;
  display: block;
  width: 50px;
  height: 50px;
  background: none;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-left: 1px solid #d9dee2;
}
.panel .top ul li a:hover svg,
.panel .top ul li button:hover svg {
  fill: #da5247;
}
.panel .top ul li a svg,
.panel .top ul li button svg {
  width: 20px;
  height: 20px;
  display: block;
  fill: #d8d8da;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.panel .content {
  padding: 25px;
}
.panel .content label {
  line-height: 36px;
}
.panel .content .input:last-of-type {
  margin-bottom: 0;
}
.panel .content.pad .input:last-of-type {
  margin-bottom: 20px;
}
.tabs > ul {
  margin-bottom: -1px;
  overflow: hidden;
}
.tabs > ul li {
  float: left;
}
.tabs > ul li a {
  display: block;
  line-height: 36px;
  padding: 0 15px;
  color: #828793;
  font-size: 12px;
}
.tabs > ul li a span {
  display: inline-block;
  background: #da5247;
  color: #fff;
  height: 12px;
  line-height: 12px;
  padding: 0 4px;
  margin-left: 2px;
  font-size: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.tabs > ul li.ui-state-active a {
  background: #fff;
  border-top: 2px solid #da5247;
  border-left: 1px solid #d9dee2;
  border-right: 1px solid #d9dee2;
}
.tabs > div {
  background: #fff;
  padding: 25px;
  border: 1px solid #d9dee2;
}
table {
  width: 100%;
  text-align: left;
}
table thead tr th {
  background: #f5f6f9;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}
table .checkbox {
  padding: 13px 25px;
}
table td,
table th {
  border-bottom: 1px solid #d9dee2;
  padding: 10px 0;
}
table .help {
  display: block;
  text-align: center;
  width: 30px;
  line-height: 30px;
  margin: -1px 10px 2px 20px;
  color: #fff;
  background: #2f323a;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
table tbody tr td {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
table tbody tr td a.btn {
  border-left: 1px solid #d9dee2;
  width: 50px;
  height: 26px;
  position: relative;
  float: right;
  display: block;
}
table tbody tr td a.btn svg {
  width: 20px;
  height: 20px;
  display: block;
  fill: #d8d8da;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -10px;
}
table tbody tr td a.btn:hover svg {
  fill: #da5247;
}
table tbody tr:last-child td {
  border-bottom: 0;
}
table tbody tr td:first-child {
  border-left: 2px solid transparent;
}
table tbody tr.active td {
  background: #fcfbf1;
}
table tbody tr.active td:first-child {
  border-left: 2px solid #da5247;
}
table tbody .checkbox input:not(:checked) + label:before,
table tbody .checkbox input:checked + label:before {
  top: 3px;
}
table th.first,
table td.first {
  padding-left: 25px;
}
table.horizontal {
  margin: -9px 0;
}
table.horizontal th.first,
table.horizontal td.first {
  padding-left: 0;
  color: #31343b;
}
table.horizontal td,
table.horizontal th {
  padding: 13px 0;
}
.dropdown {
  position: relative;
}
.dropdown span {
  height: 36px;
  line-height: 36px;
  padding: 0 34px 0 15px;
  background: #2f323a;
  color: #d8d8da;
  display: block;
  cursor: pointer;
}
.dropdown svg {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 12px;
  right: 12px;
  fill: #d8d8da;
}
.checkbox {
  font-weight: normal;
}
.checkbox input:not(:checked),
.checkbox input:checked {
  position: absolute;
  left: -9999px;
}
.checkbox input:not(:checked) + label,
.checkbox input:checked + label {
  position: relative;
  padding: 2px 0 0 25px;
  cursor: pointer;
}
.checkbox input:not(:checked) + label:before,
.checkbox input:checked + label:before {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 17px;
  border: 1px solid #d9dee2;
  background: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.checkbox input:not(:checked) + label:after,
.checkbox input:checked + label:after {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  content: '✔';
  position: absolute;
  top: 2px;
  left: 4px;
  font-size: 12px;
  color: #da5247;
}
.checkbox input:not(:checked) + label:after {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.checkbox input:checked + label:after {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.checkbox input:disabled + label:after {
  background: #f5f6f9;
  color: #828793;
}
.switch div {
  float: left;
  margin: 0 0 0 10px;
  line-height: 16px;
}
.switch input {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.switch input + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: 0;
  float: left;
  user-select: none;
  padding: 1px;
  width: 36px;
  height: 18px;
  background: #d9dee2;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.switch input + label:before,
.switch input + label:after {
  display: block;
  position: absolute;
  content: "";
}
.switch input + label:before {
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background-color: #fff;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.switch input + label:after {
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 14px;
  background: #d9dee2;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.switch input:checked + label:after {
  margin-left: 18px;
  background: #4abb5a;
}
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 36px;
}
.select-styled {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 36px;
  padding: 0 10px;
  border: 1px solid #d9dee2;
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-color: #d8d8da transparent transparent transparent;
  position: absolute;
  top: 17px;
  right: 10px;
}
.select-styled:active:after,
.select-styled.active:after {
  top: 11px;
  border-color: transparent transparent #d8d8da transparent;
}
.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #f5f6f9;
  border: 1px solid #d9dee2;
}
.select-options li {
  padding: 2px 10px;
  line-height: 26px;
  margin: 0 !important;
}
.select-options li:hover {
  background: #2f323a;
  color: #fff;
}
.select-options li[rel="hide"] {
  display: none;
}
.circle {
  position: relative;
  display: inline-block;
  height: 80px;
  width: 80px;
  overflow: hidden;
}
.circle div {
  position: absolute;
  height: 0;
  line-height: 0;
  width: 100%;
  top: 50%;
  text-align: center;
}
.circle svg {
  width: 80px;
  height: 80px;
}
.stats {
  background: #272930;
  padding: 25px;
  overflow: hidden;
  margin-bottom: 35px;
}
.stats .circle {
  float: right;
}
.stats .right {
  float: right;
  width: 90px;
  height: 80px;
}
.stats .text {
  float: left;
}
.stats h3 {
  color: #f5f6f9;
  font-size: 24px;
  font-weight: 300;
  margin: 8px 0 5px 0;
}
.stats.primary {
  background: #da5247;
  color: #fff;
}
.timeline {
  position: relative;
  padding-left: 40px;
  margin: 20px 0 0 0;
}
.timeline:before {
  position: absolute;
  width: 2px;
  height: 100%;
  left: 20px;
  content: "";
  background: #d9dee2;
}
.timeline .item {
  position: relative;
}
.timeline .item .circle {
  position: absolute;
  top: 20px;
  left: -22px;
  background: #d9dee2;
  border: 1px solid #d9dee2;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.timeline .item .text {
  position: relative;
  z-index: 2;
  padding: 15px 20px;
  margin-bottom: 15px;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.timeline .item .text:before {
  position: absolute;
  z-index: 0;
  content: "";
  top: 25px;
  left: -6px;
  box-sizing: border-box;
  border: 5px solid transparent;
  border-top-color: #fff;
  border-bottom-color: transparent;
  border-left-color: #fff;
  border-right-color: transparent;
  transform-origin: 0 0;
  transform: rotate(-45deg);
}
.timeline .item .text p {
  margin: 0 0 2px 0;
}
.timeline .item .text a {
  color: #31343b;
}
.bt10 {
  padding: 0 0 10px 0;
}
.bt15 {
  padding: 0 0 15px 0;
}
.tp10 {
  padding: 10px 0 0 0;
}
.tp15 {
  padding: 15px 0 0 0;
}
